@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    font: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: black;
    scroll-padding-top: 70px; /* height of your navbar or header */
}

html {
    scroll-behavior: smooth;
  
    /* Custom cubic-bezier easing */
    scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);
  }

/* Add styles for the logo image */
.logo img {
  width: 30px;
  height: 30px;
}
.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 100; /* Set a higher z-index value */
}
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar li {
    margin: 0 15px; /* Adjust spacing as needed */
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  /* Style the links on hover (optional) */

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.main .banner-container{
    position: relative;
    display: block;
    width: 100%;
}

.main .banner-container .banner{
    position: relative;
    width: 100%;
    height: auto;
}

.main .overlay-text{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}

.main .overlay-text.position{
    position: absolute;
    top: 52%;
    left: 20%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.about-container{

    display: flex;
    flex-direction: column;
    background-color: black;
}

.about-container .header{
    margin-top: 5rem;
    align-self: center;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
}

.about-container .about-info{
    max-width: 80%;
    align-self: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.about-container .item-container p{
    width: 80px;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.about-container  .items-box{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.about-container .items-box .item-container .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.about-container  .items-box .item-container .item .bx{
    font-size: 38px;
    color: #eee;
}

.projects{
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: radial-gradient(circle, #272727 0%, #000000 100%);
    min-height: 100vh;
}

.projects .header{
    margin-top: 5rem;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
}

.projects .projects-info{
    text-align: center;
    max-width: 80%;
    align-self: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.top-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}


.top-container .info-box{
    max-width: 40%;
}

.top-container .header{
    margin-top: -2rem;
    color: #ccc;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 55px;  
}

.top-container .info-text{
    margin: 20px 0 32px;
    color: #ccc;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons{
    display: flex;
}

.top-container .info-btn{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;    
    letter-spacing: 0.5px;
    color: #ccc;;
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid#ccc;
}

.top-container .info-btn.other{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid#ccc;
}

.top-container .info-btn.selected{
    border: 1px solid#ccc;
    background: transparent
}

.top-container .logo-box{
    max-width: 40%;
    padding: 16px;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    animation: toLeft 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#272727, #000000);

}

.top-container .bot-logo{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
    
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}

.contact-container .header{
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
}

.contact-container .contact-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-container .contact-btn button {
    width: 100px;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    border: #ccc 1px solid;
    font-size: 20px;
    color: #ccc;
    font-weight: 400;
    background-color: transparent;

}

.contact-container .contact-btn button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;

}

footer{
    background-color: #000000;
    padding: 85px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .bx, footer .logo{
    color: white;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    color: #ccc;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 12px;
    color: #ccc;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
}

.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.linkedin .badge-base{
    align-self: center ;
}

@media screen and (max-width: 1024px) {
    .main .overlay-text{
        font-size: 5rem;
    }
    .main .overlay-text.position{
        font-size: 1rem;
        top:50%;
    }
    .top-container .info-box{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 925px) {
    .main .overlay-text{
        font-size: 4rem;
    }

    .about-container .header{
        font-size: 30px;
    }
    .about-container .about-info{
        font-size: 15px;
        line-height: 25px;
    }

    .projects .header{
        font-size: 30px;
    }

    .projects .projects-info{
        font-size: 15px;
        line-height: 25px;
    }

    .projects .top-container {
        display: flex;
        flex-direction: row;
    }

    .projects .top-container .header{
        font-size: 20px;
    }

    .projects .top-container .info-text{
        font-size: 12px;
        line-height: 20px;
        max-width: 90%;
    }

    .projects .top-container .logo-box{
        max-height: 200px;
        max-width: 200px;
    }

    .projects .top-container .bot-logo{
        width: 200px;
        height: 200px;
        align-self: center;
    }

    .projects  .top-container .info-buttons .info-btn.selected{
        font-size: 10px;
    }
    .projects  .top-container .info-buttons .info-btn.nav-btn{
        font-size: 10px;
    }

    .contact-container .contact-btn button{
        width: 80px;
        font-size: 12px;
    }

    .contact-container .header{
        font-size: 30px;
    }   


}

@media screen and (max-width: 600px) {
    .main .overlay-text{
        font-size: 3rem;
    }
    .main .overlay-text.position{
        font-size: 0.8rem;
        top: 52%;

    }

    .projects .top-container{
        flex-direction: column;
        max-width: 80%;
        align-items: center;
    }
    .top-container .info-box{
        max-width: 80%;

    }

    .top-container .info-text{
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    } 
    .top-container .header{
        text-align: center;
    }
    .top-container .logo-box{
        margin-top: 2rem;
    }  

    .top-container .info-buttons {
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    
}